@tailwind base;
@tailwind components;
@tailwind utilities;

.runtime-arrow {
    @apply absolute bg-violet-400 w-2 h-16 -bottom-16;
}

.runtime-arrow > .arrow-head {
    @apply absolute bg-violet-400 w-4 h-4 top-16;
}

.host-arrow {
    @apply absolute bg-orange-400 w-2 h-16 -top-16;
}

.host-arrow > .arrow-head {
    @apply absolute bg-orange-400 w-4 h-4 bottom-16;
}

@font-face {
    font-family: Unbounded;
    src: url('./fonts/Unbounded-Regular.woff2') format('woff2');
    font-weight: regular;
}

@font-face {
    font-family: Unbounded;
    src: url('./fonts/Unbounded-Bold.woff2') format('woff2');
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: Unbounded !important;
    font-weight: normal !important;
}